<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title 004</title>
    </h:head>
    <h:body>
         
         
        <h1>Lookup datasource with JNDI</h1>
        <a href="DataExampleJndi">Show database info.</a> 
         
        
        <h:form id="myForm">

         <p>Hello from Facelets 005</p>
        
        
            
        <!--
        
        JSF is navigating only .xhtml's or applying expressions
        
        -->
        
        <h:commandButton value="h:commandbutton indexbean.jmsTe'st()" action="#{indexBean.runServlet('/DataExampleJndi')}" /> <br/>
 
        <h:commandButton value="h:commandbutton indexbean.sendJmsMessage()" action="#{indexBean.sendJmsMessage()}" /> <br/>
 
        <h:commandButton value="h:commandbutton indexbean.postViaJmsClient()" action="#{indexBean.postViaJmsClient()}" />
        
        
        
        
        
        </h:form>
        
        
        
        
        
    </h:body>
</html>

